//for wide screens:



@media only screen and (min-width: 1200px) {

  .top .logo {
    font-size: 100px;
  }

  .row2 {
    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .row3,
  .row4,
  .row5 {
    padding-top: 3%;
  }
}


@media only screen  and (max-width: 992px) {

  .logo-small {
    width: 33.33%
  }

  .sticky-menu nav {
    width: 66.66%;
    font-size: .88rem;
  }

  .hexagon-small {
    position: absolute;
    bottom: 2%;

  }

  .about-us p {
    line-height: 1.75rem;
    .corner-right {
      right: 37%;
    }
    .corner-left {
      left: 39%;
    }
  }

  .our-team {
    .corner-right {
      right: 40%;
    }
    .corner-left {
      left: 40%;
    }
  }

  .portfolio {
    .corner-right {
      right: 37%;
    }
    .corner-left {
      left: 37%;
    }
  }

  .contact {
    .corner-right {
      right: 38%;
    }
  }

  .circle {
    height: 13rem;
    width: 13rem;
  }
}


@media only screen and (max-width: 767px) {

  .top {
    .row3,
    .row4,
    .row5 {
      display: none;
    }
    .logo {
      padding-top: 17%;
    }
  }

  .sticky-menu {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 0;
    z-index: 2;
    height: 5%;
    .logo-small {
      display: none;
    }
    nav {
      width: 100%;
      li {
        font-size: .8rem;
        padding: 1.5% 2.5%;
      }
    }
  }

  .hexagon-gray {
    margin-top: 4%;
  }

  .advantages {
    padding-bottom: 28%;
  }


  .about-us {
    padding-top: 6%;
    p {
      padding-bottom: 3%;
    }
  }

  .hexagon-divider {
    margin-bottom: 0;
  }

  .about-us {
    .corner-right {
      right: 32%;
    }
    .corner-left {
      left: 34%;
      top: 27%;
    }
    .computers {
      display: none;
    }
    .content {
      width: 100%;
    }
  }
  button {
    margin-left: auto;
    margin-right: auto;
  }

  .our-team {
    .corner-right {
      right: 35%;
    }
    .corner-left {
      left: 35%;
    }
    .arrow {
      width: 45%;
    }
  }

  .circle {
    height: 8rem;
    width: 8rem;
  }

  .our-skills {
    .corner-right {
      right: 35%;
    }
    .corner-left {
      left: 35%;
    }
  }

  .quote p {
    font-size: 1.3rem;
  }

  .portfolio {
    .corner-right {
      right: 29%;
    }
    .corner-left {
      left: 30%;
    }
  }

  .contact {
    .corner-right {
      right: 31%;
    }
    .corner-left {
      left: 31%;
    }

    .contact-left {
      width: 95%;
      #contact-us {
        width: 90%;
      }
    }

    .contact-right {
      width: 100%;
    }
    .contact-right-content {
      width: 90%;
      margin-left: 5%;
    }
  }

  .divider h3 {
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 620px) {

  .advantages p {
    line-height: 1.2;
  }
}


@media only screen and (orientation: portrait) and (max-width: 480px) {


  .menu-mobile {
    display: block;
  }

  .sticky-menu {
    display: none;
  }

  .logo {
    font-size: 2.5rem;
  }

  .row2 {
    h4 {
      font-size: 1rem;
    }
    p {
      display: none;
    }
  }

  .advantages {
    padding-bottom: 15%;
    p {

      display: none;
    }
    h5 {
      font-size: 97%;
    }
  }

  .our-title{
    h2 {
      font-size: 1.6rem;
    }
  }

  .about-us {
    padding-bottom: 10%;
    .corner-right {
      right: 26%;
    }
    .corner-left {
      left: 28%;
      top: 6%;
    }
    button {
      height: 30px;
      width: 35%;
    }
  }

  .divider h3 {
    font-size: 1rem;
  }

  .our-team {
    .corner-right {
      right: 28%;
    }
    .corner-left {
      left: 28%;
      top: 8%;
    }
  }

  .skill {
    p {
      top: -7%;
      font-size: 70%;
    }
    h3 {
      font-size: 60%;
    }
  }

  .our-skills {
    .corner-right {
      right: 29%;
    }
    .corner-left {
      left: 29%;
      top: 4%;
    }
  }

  .quotes {
    h2 {
      font-size: 1.5rem;
    }
    .circle {
      height: 6rem;
      width: 6rem;
    }
  }

  .quote {
    p {
      font-size: 1rem;
    }
    h4 {
      font-size: .8rem;
    }
  }

  .portfolio {
    .corner-right {
      right: 22%;
    }
    .corner-left {
      left: 21%;
      top: 6%;
    }
    button {
      width: 50px;
      font-size: .8rem;
    }
    .example {
      width: 50%;
    }
    h4 {
      font-size: 1rem;
    }
    .watch-more {
      width: 34%;
      height: auto;
    }
  }

  .contact {
    margin-top: 10%;
    .corner-right {
      right: 23%;
    }
    .corner-left {
      left: 23%;
      top: 6%;
    }


    .contact-left input {
      height: 3rem;
    }
    .contact-left textarea {
      height: 6rem;
      padding-top: 3%;

    }

    .contact-left .submit {
      width: 34%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .sticky-menu {
    height: 8%;
    padding-left: 4%;
    padding-top: 1%;
  }
  li {
    padding: 1.5% 5%;
  }
}