$font-light: "latolight", sans-serif;
$font-regular: "latoregular", sans-serif;
$font-hairline: "latohairline", sans-serif;
$font-bold: "latobold", sans-serif;
$font-styled: "existencelight", sans-serif;


$my-purple: #9f449b;
$my-black: black;
$my-white: white;
$my-gray: #676767;
$my-dark-gray: #484848;
$my-light-gray: #f0f0f0;