@import "../../my-website/css/fonts";
@import "variables";
@import "functions";



body {
  font-size: 15px;
}

* {
  box-sizing: border-box;
  font-family: $font-hairline;
  vertical-align: top;
  text-align: center;
  font-size: 15px;
}

/* columns */


[class*="col-"] {
  float: left;
  min-height: 1px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: col-width($i);
  }
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 3-bars menu for smartphones */


.menu-mobile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 5;
  display: none;
  div {
    height: 5px;
    width: 20px;
    background-color: $my-purple;
    margin: 3px 0;
  }
}

/* top section */

.top {
  background-image: url("../images/top-image.jpg");
  background-size: 100%;
  color: $my-white;
  padding-bottom: 55.55%;
  height: 0;
  background-repeat: no-repeat;
  max-height: 100px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1100px;
}

.logo {
  font-family: $font-styled;
  font-size: 70px;
  letter-spacing: .01em;
  padding: 2%;
  span {
    color: $my-purple;
  }
}

.row2 {
  padding: 2%;
  h4 {
    font-size: 1.5rem;
    padding-bottom: 1%;
  }
}

.hexagon {
  position: relative;
  background-image: url("../images/shape-white.svg");
  cursor: pointer;
  &:hover {
    background-image: url("../images/icons/shape-purple.svg");
  }
  background-size: 85%;
  background-position: center;
  padding-bottom: 15%;
  height: 0;
  background-repeat: no-repeat;
  img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 25%;
    height: 60%;

  }
  div {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 63%;

  }
}

.hexagon-small {
  background-image: url("../images/shape-white.svg");
  background-size: 75%;
  background-position: center;
  padding-bottom: 7%;
  height: 0;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -30px;
  img {
    padding-top: 37%;

  }
}

/* menu */


.sticky-menu {
  background-color: $my-white;
}

.logo-small {
  font-size: 24px;
  padding: 2.5% 0;
  text-align: left;
  padding-left: 1%;
}

nav {
  padding-left: 5%;
  li {
    display: inline-block;
    float: left;
    text-transform: uppercase;
    padding: 5% 2.5%;
    text-align: right;
    cursor: pointer;
    &:last-of-type {
      padding-right: 0;
    }
  }
}

/* sticky menu additional styling*/

.sticky {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.active {
  color: $my-purple;
  font-family: "latoregular", sans-serif;
}

/* advantages section */

.advantages {
  width: 100%;
  background-color: #eeeeee;
  padding-bottom: 20%;
  .text {
    padding-top: 70%;
    margin-bottom: 50%;
  }
  p {
    font-size: .75rem;
    margin: 15% 3%;
    line-height: 2;
  }
}

.hexagon-gray {
  background-image: url("../images/icons/shape-gray.svg");
  &:hover {
    background-image: url("../images/icons/shape-outline-purple2.svg");
  }
  background-size: 60%;
  background-position: center;
  padding-bottom: 18%;
  margin-top: 10%;
  img {
    height: 65%;
  }
}


/* about us section */

.our-title {
  position: relative;
  height: 100px;
  h2 {
    font-family: "existencelight", sans-serif;
    font-size: 2rem;
    padding: 0.2%;
    padding-top: 1.5%;

    span {
      color: $my-purple;
    }
  }
  .corner-left {
    position: absolute;
    left: 40%;
    top: 28%;
  }
  .corner-right {
    position: absolute;
    right: 38%;
    top: 0;
  }

}

.about-us {
  padding-top: 13%;
  padding-bottom: 20%;
  * {
    padding: 0.2%;
  }
  p {
    text-align: left;
    line-height: 2;
    color: $my-black;
    font-size: 0.9rem;
    padding-bottom: 30%;
  }
  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;

  }
  img {
    padding-right: 3%;
  }
  button {
    height: 60px;
    width: 200px;
    text-align: center;
    vertical-align: bottom;
    color: white;
    background-color: $my-purple;
    border-radius: 7px;
    border: none;
    outline: none;
    align-self: flex-end;
    cursor: pointer;


  }
}

/* dividers */

.divider {
  background-image: url("../images/divider1.jpg");
  background-size: 100%;
  color: $my-white;
  padding-bottom: 30.55%;
  height: 0;
  background-repeat: no-repeat;
  max-height: 100px;
}

.hexagon-divider {
  margin-top: 6%;
  margin-bottom: 2rem;
  img {
    padding-top: 30%;
    height: 68%;

  }
}
 .divider {
   h3 {
     font-size: 2rem;
   }
 }

/* our team section with 2 sliders */


.our-team {
  padding-top: 10%;
  padding-bottom: 5%;
  .corner-left {
    left: 41%;
  }
  .corner-right {
    right: 41%;
  }
  .arrow {
    width: 30%;
    padding-bottom: 45%;
    cursor: pointer;
  }
}

.circle {
  background-color: $my-light-gray;
  border-radius: 50%;
  height: 14rem;
  width: 14rem;
  margin: 0 auto;
}

.person {
  h3 {
    padding-top: 10%;
    padding-bottom: 4%;
    text-transform: uppercase;
    font-family: $font-bold;
  }
  p {
    font-family: $font-regular;
    font-size: 0.75rem;
  }
}

.our-skills {
  padding-bottom: 10%;
  .corner-left {
    left: 41%;
    top: 25%;
  }
  .corner-right {
    right: 41%;
  }
}

.skill {
  position: relative;
  h3 {
    margin-top: 4%;
    text-transform: uppercase;
    font-family: $font-bold;
    text-align: left;
  }
  p {
    text-align: right;
    position: absolute;
    top: 23%;
    right:0;
  }
}

.margin-right {
  float: right;
}

.skills-right {
  float: right;
  padding-left: 2%;
}

.skills-left {
  padding-right: 2%;
}

.skill-chart {
  height: 1rem;
  background-color: $my-light-gray;
  margin: 3% 0;
}

.person-1-skills {
  .skill-1 {
    .skill-chart-yes {
      width: 90%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-2 {
    .skill-chart-yes {
      width: 75%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-3 {
    .skill-chart-yes {
      width: 70%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-4 {
    .skill-chart-yes {
      width: 85%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
}

.person-2-skills {
  .skill-1 {
    .skill-chart-yes {
      width: 50%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-2 {
    .skill-chart-yes {
      width: 50%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-3 {
    .skill-chart-yes {
      width: 50%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-4 {
    .skill-chart-yes {
      width: 50%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
}

.person-3-skills {
  .skill-1 {
    .skill-chart-yes {
      width: 20%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-2 {
    .skill-chart-yes {
      width: 20%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-3 {
    .skill-chart-yes {
      width: 20%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
  .skill-4 {
    .skill-chart-yes {
      width: 20%;
      background-color: $my-purple;
      height: 1rem;
    }
  }
}

/* quotes section */

.quotes {
  padding-top: 12%;
  padding-bottom: 10%;
  background-color: #eeeeee;
  h2 {
    font-size: 2.5rem;
    padding-bottom: 3%;

  }
  p {
    font-size: .7rem;
    margin-bottom: 38%;
  }
  .circle {
    background-color: $my-gray;
    width: 9rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.quote {
  p {
    text-align: center;

    margin-bottom: 0;
    font-size: 1.5rem;
    padding: 3% 0;
  }
  h4 {
    text-transform: uppercase;
    padding-left: 35%;
  }
}


/* portfolio gallery section */

.portfolio {
  .container {
    margin-top: 10%;
  }
  .corner-left {
    left: 39%;
    top: 26%;
  }
  .corner-right {
    right: 39%;
  }
  button {
    width: 75px;
    height: 30px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
    background-color: $my-white;
    font-size: 1rem;
    color: $my-black;
    margin: .6%;
    margin-bottom: 6%;
    cursor: pointer;
    &:hover {
      background-color: $my-purple;
      color: white;
      border: none;
    }
  }
}

.filter-buttons {
  margin-top: 3%;
}

.gallery {
  .thumbnail {
    background-color: black;
    height: auto;
    width: 90%;
    overflow: hidden;
    position: relative;
    padding-bottom: 83%;
    margin-left: 6%;
    clear: both;

  }
  img {
    position: absolute;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }
 .hover-plus {
   background-color: black;
   opacity: .6;
   height: 100%;
   width: 100%;
   padding: 26%;
   display: none;

 }
  h4 {
    font-size: 1.3rem;
    padding-top: 4%;
    padding-bottom: 1%;
  }
  p {
    padding-bottom: 9%;
  }
  button {
    height: 60px;
    width: 200px;
    text-align: center;
    vertical-align: bottom;
    color: white;
    background-color: $my-purple;
    border-radius: 7px;
    border: none;
    outline: none;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}

/* contact section */

.contact {
  .our-title h2 {
    margin-top: 10%;
  }
  .corner-left {
    left: 38%;
    top: 26%;
  }
  .corner-right {
    right: 39%;
  }
}

.contact-left {
  position: relative;
  p {
    text-align: left;
    position: absolute;
    top: 31%;
    display: none;
  }
  padding-right: 2%;
  textarea,
  input {
    text-align: left;
    padding-left: 3%;
    width: 100%;
    height: 4rem;
    margin-bottom: 8%;
    border: 1px solid $my-gray;
    color: $my-gray;
    &:focus {
      outline: 0;
    }
  }
  textarea {
    max-width: 100%;
    height: 12rem;
    max-height: 12rem;
    padding-top: 6%;
  }
  input:last-of-type {
    height: 60px;
    width: 200px;
    text-align: center;
    vertical-align: bottom;
    color: white;
    background-color: $my-purple;
    border-radius: 7px;
    border: none;
    outline: none;
    align-self: flex-end;
    margin-bottom: 10%;
    float: left;
    cursor: pointer;
  }
}

.contact-right {
  padding-left: 2%;
  font-family: $font-regular;
  p {
    text-align: left;
    margin-bottom: 10%;
    line-height: 1.4rem;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      font-size: 1.1rem;
      font-family: $font-bold;

    }


  }
  .social {
    text-align: left;
    border: 1px solid $my-gray;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    float: left;
    margin: 5% 5.5% 10% 0;
    cursor: pointer;
    p {
      font-family: $font-regular;
      font-size: 2rem;
      position: absolute;
      top: 26%;
      left: 38%;

    }
  }
}

footer {
  .logo {
    font-size: 2.5rem;
    margin: 5%;
  }
}

@import "media-queries";











